.market--caracteristique {
    background-image: url("#{$image-path}/hub/inventory_slot_background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem;
    color: $white;

    &-player {
        display: flex;
        align-items: center;
        justify-content: flex-start;


        &-right {
            margin-left: 1rem;

            p {
                margin: 0;
                padding: 0.5rem;

                &:first-child {
                    font-weight: $font-weight-bolder;
                }
            }
        }
    }

    ul {
        list-style-type: none;
        margin-bottom: 0;
        padding-left: 0;

        img {
            padding-right: 0.5rem;
        }
    }

    &-stats {
        li {
            background-color: rgb(43 38 38 / 42%);
            border: 1px solid #3a3a3a;
            margin: 8px 0;
            padding: 3px 5px;

            span {
                float: right;
                font-weight: $font-weight-bolder;
            }
        }
    }

    &-elements {
        li {
            //margin: 8px 0;
            padding: 3px 5px;
        }

        a {
            float: right;
            font-weight: $font-weight-bolder;
            color: white;
        }
    }
}
