@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";
@import "./node_modules/bootstrap/scss/mixins";

$image-path: './../img';


@import "variables-override";
@import "./node_modules/bootstrap/scss/bootstrap";

@import "market/market-content";
