:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #f7cc00;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

#plugin--dofus-market .market--equipement {
    background-image: url("./../img/hub/inventory_slot_background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#plugin--dofus-market .market--inventory {
    position: relative;
    max-width: 530px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(11, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 1rem;
    margin: 0 auto;
    z-index: 1;
}
#plugin--dofus-market .market--inventory:before {
    content: "";
    background-image: url("./../img/inventory/light_bg_inventory.png");
    width: 100%;
    height: 100%;
    z-index: 0;
    background-size: cover;
    position: absolute;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    #plugin--dofus-market .market--inventory {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    #plugin--dofus-market [class*=market--inventory-slot] {
        flex: 0 1 65px;
        margin: 0 0.5rem;
    }
    #plugin--dofus-market .market--inventory-slot-player {
        flex: 1 1 100%;
        min-height: 352px;
    }
}
#plugin--dofus-market [class*=market--inventory-slot] {
    position: relative;
    text-align: center;
    padding: 0.5rem 0;
}
#plugin--dofus-market [class*=market--inventory-slot] ul {
    text-align: left;
    list-style-type: none;
}
#plugin--dofus-market [class*=market--inventory-slot] a {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    width: 65px;
}
#plugin--dofus-market [class*=market--inventory-slot] .is-icon {
    width: 100%;
}
#plugin--dofus-market [class*=market--inventory-slot] button {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    outline: none;
}
#plugin--dofus-market .market--inventory-base {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    margin-bottom: -2rem;
}
#plugin--dofus-market .market--inventory-base-bottom button {
    background-color: transparent;
    border: 0;
    outline: none;
}
#plugin--dofus-market .market--inventory-base-bottom-left {
    transform: scaleX(-1);
}
#plugin--dofus-market .market--inventory-slot-0 {
    grid-area: 1/1/2/2;
}
#plugin--dofus-market .market--inventory-slot-1 {
    grid-area: 5/1/6/2;
}
#plugin--dofus-market .market--inventory-slot-2 {
    grid-area: 2/1/3/2;
}
#plugin--dofus-market .market--inventory-slot-3 {
    grid-area: 3/3/4/4;
}
#plugin--dofus-market .market--inventory-slot-4 {
    grid-area: 3/1/4/2;
}
#plugin--dofus-market .market--inventory-slot-5 {
    grid-area: 4/3/5/4;
}
#plugin--dofus-market .market--inventory-slot-6 {
    grid-area: 1/3/2/4;
}
#plugin--dofus-market .market--inventory-slot-7 {
    grid-area: 2/3/3/4;
}
#plugin--dofus-market .market--inventory-slot-8 {
    grid-area: 5/3/6/4;
}
#plugin--dofus-market .market--inventory-slot-9 {
    grid-area: 6/1/7/2;
}
#plugin--dofus-market .market--inventory-slot-10 {
    grid-area: 6/2/7/3;
}
#plugin--dofus-market .market--inventory-slot-11 {
    grid-area: 6/3/7/4;
}
#plugin--dofus-market .market--inventory-slot-12 {
    grid-area: 7/1/8/2;
}
#plugin--dofus-market .market--inventory-slot-13 {
    grid-area: 7/2/8/3;
}
#plugin--dofus-market .market--inventory-slot-14 {
    grid-area: 7/3/8/4;
}
#plugin--dofus-market .market--inventory-slot-15 {
    grid-area: 5/2/6/3;
}
#plugin--dofus-market .market--inventory-slot-16 {
    display: none;
}
#plugin--dofus-market .market--inventory-slot-player {
    grid-area: 8/1/12/4;
}
@media (min-width: 576px) {
    #plugin--dofus-market .market--inventory {
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
    #plugin--dofus-market .market--inventory-slot-0 {
        grid-area: 1/1/2/2;
    }
    #plugin--dofus-market .market--inventory-slot-1 {
        grid-area: 5/1/6/2;
    }
    #plugin--dofus-market .market--inventory-slot-2 {
        grid-area: 2/1/3/2;
    }
    #plugin--dofus-market .market--inventory-slot-3 {
        grid-area: 3/7/4/8;
    }
    #plugin--dofus-market .market--inventory-slot-4 {
        grid-area: 3/1/4/2;
    }
    #plugin--dofus-market .market--inventory-slot-5 {
        grid-area: 4/7/5/8;
    }
    #plugin--dofus-market .market--inventory-slot-6 {
        grid-area: 1/7/2/8;
    }
    #plugin--dofus-market .market--inventory-slot-7 {
        grid-area: 2/7/3/8;
    }
    #plugin--dofus-market .market--inventory-slot-8 {
        grid-area: 5/7/6/8;
    }
    #plugin--dofus-market .market--inventory-slot-9 {
        grid-area: 6/1/7/2;
    }
    #plugin--dofus-market .market--inventory-slot-10 {
        grid-area: 6/2/7/3;
    }
    #plugin--dofus-market .market--inventory-slot-11 {
        grid-area: 6/3/7/4;
    }
    #plugin--dofus-market .market--inventory-slot-12 {
        grid-area: 6/4/7/5;
    }
    #plugin--dofus-market .market--inventory-slot-13 {
        grid-area: 6/5/7/6;
    }
    #plugin--dofus-market .market--inventory-slot-14 {
        grid-area: 6/6/7/7;
    }
    #plugin--dofus-market .market--inventory-slot-15 {
        grid-area: 5/2/6/3;
    }
    #plugin--dofus-market .market--inventory-slot-16 {
        display: block;
        grid-area: 5/5/6/9;
    }
    #plugin--dofus-market .market--inventory-slot-player {
        grid-area: 1/2/5/7;
    }
}

.market--caracteristique {
    background-image: url("./../img/hub/inventory_slot_background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem;
    color: #fff;
}
.market--caracteristique-player {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.market--caracteristique-player-right {
    margin-left: 1rem;
}
.market--caracteristique-player-right p {
    margin: 0;
    padding: 0.5rem;
}
.market--caracteristique-player-right p:first-child {
    font-weight: bolder;
}
.market--caracteristique ul {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
}
.market--caracteristique ul img {
    padding-right: 0.5rem;
}
.market--caracteristique-stats li {
    background-color: rgba(43, 38, 38, 0.42);
    border: 1px solid #3a3a3a;
    margin: 8px 0;
    padding: 3px 5px;
}
.market--caracteristique-stats li span {
    float: right;
    font-weight: bolder;
}
.market--caracteristique-elements li {
    padding: 3px 5px;
}
.market--caracteristique-elements a {
    float: right;
    font-weight: bolder;
    color: white;
}

.tooltip--inventory {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: left;
    padding: 1rem;
}
.tooltip--inventory-item {
    flex: 0 1 60%;
}
.tooltip--inventory-item span {
    display: block;
}
.tooltip--inventory-item .name {
    font-weight: 700;
    font-size: 18px;
}
.tooltip--inventory-item .level {
    font-size: 16px;
    color: #adb5bd;
}
.tooltip--inventory-icon {
    position: relative;
    flex: 1 1 40%;
    min-width: 100px;
}
.tooltip--inventory-icon img {
    position: absolute;
    top: 30px;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
}
.tooltip--inventory-icon img:last-child {
    width: 110px;
}
.tooltip--inventory-effect {
    padding-left: 1rem;
    margin-top: 2rem;
    flex: 1 1 100%;
    font-weight: 700;
    font-size: 18px;
}
.tooltip--inventory-effect ul {
    padding-left: 1rem;
    font-weight: 400;
    font-size: 16px;
    list-style-type: none;
}

.market--separator-green {
    text-align: center;
    padding: 0.5rem 0;
}
.market--separator-green img {
    width: 100%;
    max-width: 260px;
}

.market--separator-grey {
    text-align: center;
    padding: 0;
    line-height: 0;
}
.market--separator-grey img {
    width: 100%;
    max-width: 260px;
}

.card {
    border: 0;
    box-shadow: 1px 13px 19px -9px #828282;
}
.card .card-header {
    position: relative;
    padding: 0;
    margin: 0;
    background-image: url("./../img/hub/window_border_top.png");
    background-position: left -6px center;
    height: 44px;
    background-size: cover;
    border: 0;
}
.card .card-header:after {
    content: "";
    position: absolute;
    top: 50%;
    left: auto;
    right: -5px;
    bottom: auto;
    transform: translate(0, -50%);
    background-image: url("./../img/hub/window_border_top_right.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 38px;
    width: 33px;
}
.card .card-header .card-header-icon {
    position: absolute;
    top: 22px;
    left: 6px;
}
.card .card-header .card-header-icon img {
    position: absolute;
    top: 50%;
    right: auto;
    bottom: auto;
    transform: translate(0, -50%);
}
.card .card-header .card-header-icon img:first-child {
    left: 0;
}
.card .card-header .card-header-icon img:last-child {
    left: 13px;
    width: 46px;
}
.card .card-header .card-title {
    text-align: center;
    margin: 0;
    height: 44px;
    line-height: 44px;
    color: #f7cc00;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 21px;
    text-shadow: 2px 2px 1px #1d1d1d;
}
.card .card-body {
    position: relative;
    border: 0;
    z-index: 1;
    box-shadow: inset 0 0 0 5px #272727;
}

.tooltip-inner {
    max-width: 100%;
}
